:root {
  font-family: SF Pro Display;
  line-height: 1.5;
  font-weight: 400;

  color: #FFFFFF;
  background: radial-gradient(95.47% 71.89% at 93.07% 74.31%, #45278B 0%, #2E335A 100%);

  margin: 0;
  padding: 0;
  min-height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

#app {
  min-height: 100vh;
  width: 100%;
  text-align: center;
}
