:root {
  font-family: SF Pro Display;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 1);
  background: radial-gradient(95.47% 71.89% at 93.07% 74.31%, #45278B 0%, #2E335A 100%);


}



body {
  /* margin: 0; */
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}


#app {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
